/**********************************/
/********** General CSS ***********/
/**********************************/
/* h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
} */

@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}

/**********************************/
/******* Normal Slider CSS ********/
/**********************************/
.normal-slider .slick-prev,
.normal-slider .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: rgba(255, 111, 97, .7);
    border-radius: 4px;
}

.normal-slider .slick-prev {
    left: 55px;
}

.normal-slider .slick-next {
    right: 55px;
}

.normal-slider.slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.normal-slider.slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.normal-slider .slick-prev:hover,
.normal-slider .slick-prev:focus,
.normal-slider .slick-next:hover,
.normal-slider .slick-next:focus {
    background: rgba(0, 0, 0, .7);
}

.normal-slider .slick-prev:hover::before,
.normal-slider .slick-prev:focus::before,
.normal-slider .slick-next:hover::before,
.normal-slider .slick-next:focus::before {
    color: #0078C2;
}

.normal-slider .slick-prev::before,
.normal-slider .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
}

.normal-slider .slick-prev::before {
    content: "\f104";
}

.normal-slider .slick-next::before {
    content: "\f105";
}

.normal-slider .slick-dots {
    bottom: 15px;
}

.normal-slider .slick-dots li button:before {
    color: #ffffff;
    font-size: 15px;
}

.normal-slider .slick-dots li.slick-active button:before {
    color: #0078C2;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}
/**********************************/
/*********** Feature CSS **********/
/**********************************/
.feature {
    position: relative;
}

.feature .feature-col {
    margin-bottom: 30px;
}

.feature .feature-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #ffffff;
}

.feature .feature-content i {
    color: #0078C2;
    font-size: 60px;
    margin-bottom: 30px;
}

.feature .feature-content h2 {
    font-size: 18px;
}

.feature .feature-content p {
    font-size: 15px;
    margin: 0;
}


/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
    position: relative;
}

.product-item .product-title {
    padding: 15px;
    text-align: center;
    background: #000000;
    transition: all .3s;
}

/* .product-item:hover .product-title {
    background: #0078C2;
} */

.product-item .product-title a,
.product-item .product-title .ratting {
    position: relative;
    width: 100%;
}

.product-item .product-title a {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 18px;
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #999999;
}

.product-item:hover .product-title a,
.product-item:hover .product-title .ratting i {
    color: #ffffff;
}

.product-item:hover .product-content .price span {
    color: #dddddd;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-item .product-image a {
    display: block;
    background: #ffffff;
    transition: .3s;
}

.product-item:hover .product-image img {
    transform: scale(1.2);
}

.product-item:hover .product-image .product-action a {
    margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}


/**********************************/
/******** Featured Product ********/
/**********************************/
.featured-product {
    position: relative;
    padding-top: 30px;
    /* padding: 30px 0; */
}

.recent-product {
    position: relative;
    padding: 30px 0;
}

.product .section-header {
    margin-bottom: 30px;
    padding: 20px 30px 15px 30px;
    color: #0078C2;
    background: #ffffff;
}

.product .slick-prev,
.product .slick-next {
    top: -75px;
    width: 30px;
    height: 30px;
    z-index: 1;
    transition: .5s;
    color: #0078C2;
    background: #ffffff;
    border: 1px solid #0078C2;
    border-radius: 4px;
}

.product .slick-prev {
    left: calc(100% - 120px);
}

.product .slick-next {
    right: 45px;
}

.product .slick-prev:hover,
.product .slick-prev:focus,
.product .slick-next:hover,
.product .slick-next:focus {
    background: #0078C2;
}

.product .slick-prev::before,
.product .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    color: #0078C2;
}

.product .slick-prev::before {
    content: "\f104";
}

.product .slick-next::before {
    content: "\f105";
}

.product .slick-prev:hover::before,
.product .slick-prev:focus::before,
.product .slick-next:hover::before,
.product .slick-next:focus::before {
    color: #ffffff;
}


/**********************************/
/******** Product View CSS ********/
/**********************************/
.product-view {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.product-view .product-view-top {
    padding: 30px;
    margin-bottom: 30px;
    background: #ffffff;
}

.product-view .product-search {
    position: relative;
    width: 100%;
}

.product-view .product-search input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    background: transparent;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: all .3s;
}

.product-view .product-search input:focus {
    border-color: #0078C2;
}

.product-view .product-search button {
    position: absolute;
    width: 35px;
    height: 33px;
    top: 1px;
    right: 1px;
    text-align: center;
    background: transparent;
    color: #353535;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: all .3s;
}

.product-view .product-search button i {
    font-size: 16px;
}

.product-view .product-search button:hover {
    background: #0078C2;
    color: #ffffff;
}


.search-form-wrap .search-form .form-control {
    width: 300px;
    border: none;
    box-shadow: 0 10px 20px -10px rgba(var(--color-black-rgb), 0.1);
    padding-left: 40px;
    padding-right: 40px;
}

.search-form-wrap .search-form .form-control:active,
.search-form-wrap .search-form .form-control:focus {
outline: none;
box-shadow: none;
}

.search-form-wrap .search-form .icon {
    position: absolute;
    left: 0;
    top: 7px;
    opacity: 0.5;
    left: 10px;
}

.search-form-wrap .search-form .btn {
    position: absolute;
    top: 2px;
    right: 4px;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 30px;
}

.search-form-wrap .search-form .btn:active,
.search-form-wrap .search-form .btn:focus {
    outline: none;
    box-shadow: none;
}

.search-form-wrap.active {
    visibility: visible;
    opacity: 1;
}

.product-view .product-item {
    margin-bottom: 30px;
}

.product-view .pagination {
    margin: 0;
}

.product-view .pagination .page-item .page-link {
    color: #353535;
    background: transparent;
    border-color: #353535;
}

.product-view .pagination .page-item:hover .page-link,
.product-view .pagination .page-item.active .page-link {
    color: #0078C2;
    background: #000000;
}

@media (max-width: 991.98px) {
    .product-view .pagination {
        margin-bottom: 30px;
    }
}


/**********************************/
/******* Product Detail CSS *******/
/**********************************/
.product-detail {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.product-detail .product-detail-top,
.product-detail .product-detail-bottom {
    margin-bottom: 30px;
}

.product-detail .product-detail-top {
    padding: 0;
    background: #ffffff;
}

.product-detail .product-slider-single img {
    width: 100%;
}

.product-detail .product-slider-single-nav {
    margin: 15px 30px 30px 30px;
    border: 3px double #0078C2;
}

/* .product-detail .product-slider-single-nav .slider-nav-img {
    border-right: 1px solid #0078C2;
    overflow: hidden;
} */

.product-detail .product-slider-single-nav img {
    width: 100%;
    transition: all .3s;
}

.product-detail .product-slider-single-nav img:hover {
    transform: scale(1.2);
}

.product-detail .product-content,
.product-detail .product-content .title,
.product-detail .product-content .ratting,
.product-detail .product-content .price,
.product-detail .product-content .details,
.product-detail .product-content .quantity,
.product-detail .product-content .action {
    position: relative;
    width: 100%;
}

.product-detail .product-content {
    padding: 30px;
}

@media (min-width: 768px) {
    .product-detail .product-content {
        padding-left: 0;
    }
}

.product-detail .product-content .title h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

.product-detail .product-content .ratting {
    margin-bottom: 10px;
}

.product-detail .product-content .ratting i {
    color: #0078C2;
    font-size: 16px;
}

.product-detail .product-content .price,
.product-detail .product-content .quantity,
.product-detail .product-content .p-size,
.product-detail .product-content .p-color {
    margin-bottom: 15px;
}

.product-detail .product-content .price h4,
.product-detail .product-content .quantity h4,
.product-detail .product-content .p-size h4,
.product-detail .product-content .p-color h4 {
    display: inline-block;
    width: 80px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

.product-detail .product-content .quantity .qty {
    display: inline-block;
    font-size: 0;
}

.product-detail .product-content .quantity button {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #0078C2;
    border: none;
}

.product-detail .product-content .quantity button.btn-minus {
    border-radius: 4px 0 0 4px;
}

.product-detail .product-content .quantity button.btn-plus {
    border-radius: 0 4px 4px 0;
}

.product-detail .product-content .quantity input {
    width: 40px;
    height: 30px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background: #000000;
    border: none;
}

.product-detail .product-content .action a:first-child {
    margin-right: 11px;
}

.product-detail .product-content .action a i {
    margin-right: 5px;
}

/* .product-detail .nav.nav-pills .nav-link {
    color: #0078C2;
    background: #000000;
    border-radius: 0;
    transition: all .3s;
} */

/* .product-detail .nav.nav-pills .nav-link:hover,
.product-detail .nav.nav-pills .nav-link.active {
    color: #000000;
    background: #0078C2;
} */

.product-detail .tab-content {
    background: #ffffff;
    padding: 25px 15px 15px 15px;
}

.product-detail .tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-detail .tab-content ul li {
    margin-bottom: 10px;
}

.product-detail .tab-content ul li::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.product-detail .tab-content .reviews-submitted {
    position: relative;
    margin-bottom: 45px;
}

.product-detail .tab-content .reviewer {
    color: #0078C2;
    font-size: 18px;
    font-weight: 600;
}

.product-detail .tab-content .reviewer span {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.product-detail .tab-content .ratting {
    color: #0078C2;
    margin-bottom: 15px;
}

.product-detail .tab-content .reviews-submit .ratting {
    font-size: 24px;
}

.product-detail .tab-content .form input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.product-detail .tab-content .form textarea {
    width: 100%;
    height: 80px;
    padding: 6px 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.product-detail .tab-content .form button {
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    color: #0078C2;
    background: #ffffff;
    border: 1px solid #0078C2;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: all .3s;
}

.product-detail .tab-content .form button:hover {
    color: #ffffff;
    background: #0078C2;
}

/**********************************/
/************ Cart CSS ************/
/**********************************/
.cart-page {
    position: relative;
    margin-top: 30px;
}

.cart-page .cart-page-inner {
    padding: 30px;
    margin-bottom: 30px;
    background: #ffffff;
}

.cart-page .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.cart-page .table .thead-dark th {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-align: center;
    background: transparent;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.cart-page .table td {
    font-size: 16px;
    vertical-align: middle;
}

.cart-page .table .img {
    display: flex;
    align-items: center;
}

.cart-page .table .img img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
}

.cart-page .table .img p {
    display: inline-block;
    text-align: left;
    margin: 0;
}

.cart-page .table .qty {
    display: inline-block;
    width: 100px;
    font-size: 0;
}

.cart-page .table button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #0078C2;
    border: none;
    border-radius: 4px;
}

.cart-page .table button.btn-minus {
    border-radius: 4px 0 0 4px;
}

.cart-page .table button.btn-plus {
    border-radius: 0 4px 4px 0;
}

.cart-page .table button.btn-cart {
    width: auto;
}

.cart-page .table input {
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background: #000000;
    border: none;
}

.cart-page .coupon {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 0;
}

.cart-page .coupon input {
    width: calc(100% - 135px);
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    color: #999999;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-right: 15px;
    transition: all .3s;
}

.cart-page .coupon input:focus {
    border-color: #0078C2;
}

.cart-page .coupon button {
    width: 120px;
    height: 40px;
    padding: 2px 0;
    font-size: 16px;
    text-align: center;
    color: #0078C2;
    background: #ffffff;
    border: 1px solid #0078C2;
    border-radius: 4px;
}

.cart-page .coupon button:hover {
    color: #ffffff;
    background: #0078C2;
}

.cart-page .cart-summary {
    position: relative;
    width: 100%;
}

.cart-page .cart-summary .cart-content {
    padding: 30px;
    background: #f3f6ff;
}

.cart-page .cart-summary .cart-content h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.cart-page .cart-summary .cart-content p span,
.cart-page .cart-summary .cart-content h2 span {
    float: right;
}

.cart-page .cart-summary .cart-content h2 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 12px;
    border-top: 1px solid #dddddd;
    margin: 0;
}

.cart-page .cart-summary .cart-btn button {
    margin-top: 15px;
    width: calc(50% - 15px);
    height: 50px;
    padding: 2px 10px;
    text-align: center;
    color: #ffffff;
    background: #0078C2;
    border: none;
    border-radius: 4px;
}

.cart-page .cart-summary .cart-btn button:hover {
    color: #0078C2;
    background: #000000;
}

.cart-page .cart-summary .cart-btn button:first-child {
    margin-right: 25px;
    color: #0078C2;
    background: #ffffff;
    border: 1px solid #0078C2;
}

.cart-page .cart-summary .cart-btn button:first-child:hover {
    color: #ffffff;
    background: #0078C2;
}


/**********************************/
/********** Wishlist CSS **********/
/**********************************/
.wishlist-page {
    position: relative;
    padding: 30px 0;
}

.wishlist-page .wishlist-page-inner {
    padding: 30px;
    background: #ffffff;
}

.wishlist-page .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.wishlist-page .table .thead-dark th {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-align: center;
    background: transparent;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.wishlist-page .table td {
    font-size: 16px;
    vertical-align: middle;
}

.wishlist-page .table .img {
    display: flex;
    align-items: center;
}

.wishlist-page .table .img img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
}

.wishlist-page .table .img p {
    display: inline-block;
    text-align: left;
    margin: 0;
}

.wishlist-page .table .qty {
    display: inline-block;
    width: 100px;
    font-size: 0;
}

.wishlist-page .table button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #0078C2;
    border: none;
    border-radius: 4px;
}

.wishlist-page .table button.btn-minus {
    border-radius: 4px 0 0 4px;
}

.wishlist-page .table button.btn-plus {
    border-radius: 0 4px 4px 0;
}

.wishlist-page .table button.btn-cart {
    width: auto;
}

.wishlist-page .table input {
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background: #000000;
    border: none;
}


/**********************************/
/********** Checkout CSS **********/
/**********************************/
.checkout {
    position: relative;
    padding-top: 30px;
}

.checkout .checkout-inner {
    margin-bottom: 30px;
    padding: 30px;
    background: #ffffff;
}

.checkout .billing-address,
.checkout .shipping-address {
    position: relative;
    width: 100%;
}

.checkout .shipping-address {
    display: none;
    margin-top: 30px;
}

.checkout .billing-address h2,
.checkout .shipping-address h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment {
    position: relative;
    width: 100%;
}

.checkout .checkout-summary h1,
.checkout .checkout-payment h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment .payment-methods {
    padding: 30px;
    background: #f3f6ff;
    margin-bottom: 30px;
}

.checkout .checkout-summary p.sub-total,
.checkout .checkout-summary p.ship-cost {
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

.checkout .checkout-summary p span,
.checkout .checkout-summary h2 span {
    float: right;
}

.checkout .checkout-summary h2 {
    font-size: 20px;
    padding-top: 12px;
    border-top: 1px solid #dddddd;
    margin: 0;
}

.checkout .checkout-payment .payment-methods .payment-content {
    display: none;
}

.checkout .checkout-payment .checkout-btn button {
    width: 100%;
    height: 50px;
    padding: 2px 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #000000;
    background: #0078C2;
    border: none;
    border-radius: 4px;
    transition: all .3s;
}

/* .checkout .checkout-payment .checkout-btn button:hover {
    color: #0078C2;
    background: #000000;
} */


/**********************************/
/********* My Account CSS *********/
/**********************************/
.my-account {
    position: relative;
    padding: 30px 0;
}

/* .my-account .nav.nav-pills .nav-link {
    padding: 10px 15px;
    color: #353535;
    background: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #dddddd;
    transition: all .3s;
} */

/* .my-account .nav.nav-pills .nav-link:last-child {
    border-bottom: none;
}

.my-account .nav.nav-pills .nav-link:hover,
.my-account .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #0078C2;
}

.my-account .nav.nav-pills .nav-link i {
    margin-right: 5px;
} */

.my-account .tab-content {
    padding: 30px;
    background: #ffffff;
}

.my-account .tab-content .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.my-account .tab-content .table .thead-dark th {
    text-align: center;
    color: #353535;
    background: #ffffff;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.my-account .tab-content .table td {
    vertical-align: middle;
}


/**********************************/
/******* Call to Action CSS *******/
/**********************************/
.call-to-action {
    position: relative;
    padding: 30px 0;
    background: #0078C2;
}

.call-to-action .col-md-6:last-child {
    text-align: right;
}

.call-to-action h1 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
}

.call-to-action a {
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    transition: all .3s;
}

.call-to-action a:hover {
    color: #000000;
    border-color: #000000;
}

@media (max-width: 767.98px) {
    .call-to-action,
    .call-to-action .col-md-6:last-child {
        text-align: center;
    }

    .call-to-action h1 {
        margin-bottom: 20px;
    }
}



/**********************************/
/********* Newsletter CSS *********/
/**********************************/
.newsletter {
    position: relative;
    padding: 30px 0;
    background: #0078C2;
}

.newsletter h1 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
}

.newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 0 0 auto;
}

.newsletter .form input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.newsletter .form button {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #0078C2;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.newsletter .form button:hover {
    color: #0078C2;
    background: #000000;
}

@media (max-width: 767.98px) {
    .newsletter {
        text-align: center;
    }

    .newsletter h1 {
        margin-bottom: 20px;
    }

    .newsletter .form {
        margin: 0 auto;
    }
}


/**********************************/
/*********** Brand CSS ************/
/**********************************/
.brand {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0;
    background: #ffffff;
}

.brand .brand-item {
    text-align: center;
}

.brand .brand-item img {
    max-width: 100%;
    margin: auto;
}

.brand .slick-prev,
.brand .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: #0078C2;
    border-radius: 4px;
}

.brand .slick-prev {
    left: 55px;
}

.brand .slick-next {
    right: 55px;
}

.brand .slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.brand .slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.brand .slick-prev:hover,
.brand .slick-prev:focus,
.brand .slick-next:hover,
.brand .slick-next:focus {
    background: #000000;
}

.brand .slick-prev:hover::before,
.brand .slick-prev:focus::before,
.brand .slick-next:hover::before,
.brand .slick-next:focus::before {
    color: #0078C2;
}

.brand .slick-prev::before,
.brand .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}

.brand .slick-prev::before {
    content: "\f104";
}

.brand .slick-next::before {
    content: "\f105";
}


/**********************************/
/*********** Review CSS ***********/
/**********************************/
.review {
    margin-bottom: 30px;
}

.review .review-slider {
    position: relative;
}

.review .review-slider-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}

.review .review-img {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}

.review .review-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review .review-text {
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 200px);
}

.review .review-text h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text p {
    margin: 0;
}

.review .review-text .ratting {
    margin-bottom: 5px;
}

.review .review-text .ratting i {
    color: #0078C2;
    font-size: 14px;
}

.review .slick-slider:hover .slick-prev {
    left: 30px;
}

.review .slick-slider:hover .slick-next {
    right: 30px;
}


/**********************************/
/********** Contact CSS ***********/
/**********************************/
.contact {
    position: relative;
    padding-top: 30px;
}

.contact .contact-info,
.contact .contact-form,
.contact .contact-map {
    height: 100%;
    padding: 30px;
    background: #ffffff;
    border-bottom: 30px solid #f3f6ff;
}

.contact .contact-info h2 {
    margin-bottom: 15px;
}

.contact .contact-info h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.contact .contact-info h3 i {
    width: 20px;
    color: #0078C2;
    margin-right: 5px;
}

.contact .social {
    position: relative;
    width: 100%;
}

.contact .social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    border: 1px solid #0078C2;
    border-radius: 4px;
}

.contact .social a i {
    color: #0078C2;
}

.contact .social a:hover {
    background: #0078C2;
}

.contact .social a:hover i {
    color: #ffffff;
}

.contact .contact-map iframe {
    width: 100%;
    height: 450px;
}


/**********************************/
/****** Register & Login CSS ******/
/**********************************/
.login {
    position: relative;
    padding-top: 30px;
}

.login .login-form,
.login .register-form {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
}


/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
    position: relative;
}

.product-item .product-title {
    padding: 15px;
    text-align: center;
    background: #0078C2;
    transition: all .3s;
}

.product-item:hover .product-title {
    background: #0078C2;
}

.product-item .product-title a,
.product-item .product-title .ratting {
    position: relative;
    width: 100%;
}

.product-item .product-title a {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 18px;
}

.product-item .product-title .ratting i {
    font-size: 14px;
    color: #0078C2;
}
/*
.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #999999;
} */

.product-item:hover .product-title a,
.product-item:hover .product-title .ratting i {
    color: #ffffff;
}
/*
.product-item:hover .product-content .price span {
    color: #dddddd;
} */

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-item .product-image a {
    display: block;
    background: #ffffff;
    transition: .3s;
}

.product-item .product-image img {
    width: 100%;
    transition: all .3s;
}

.product-item:hover .product-image img {
    transform: scale(1.2);
}

.product-item .product-image .product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(150, 183, 229, 0.5);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.product-item:hover .product-image .product-action {
    opacity: 1;
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-right: 18px;
    padding: 18px 0 90px 0;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    background: #0078C2;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
    margin-top: 190px;
}

.product-item:hover .product-image .product-action a {
    margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #0078C2;
    background: #ffffff;
    border: 1px solid #0078C2;
}

.product-item .product-price {
    padding: 20px;
    background: #0078C2;
    transition: all .3s;
}

.product-item:hover .product-price {
    background: #0078C2;
}

.product-item .product-price h3 {
    display: inline-block;
    color: #ffffff;
    margin: 0;
}

.product-item .product-price h4 {
    display: inline-block;
    color: #ffffff;
    margin: 0;
}

.product-item .product-price .btn {
    float: right;
    border: none;
    color: #000000;
    background: #ffffff;
}

.product-item:hover .product-price .btn,
.product-item .product-price .btn:hover {
    color: #0078C2;
    background: #ffffff;
}

.product-item .product-price .btn i {
    margin-right: 5px;
}

.carousel img {
    height: 450px;
}

.placeholder .up{
    width: 10px;
    height: 100px;
    color: transparent;
    background: red;
    transition: width 0.5s, height 1s;
    margin-top: 160px;
}

.placeholder .up:hover {
    width: 200px;
    height: 70px;
    color: aliceblue;
}

ct-image img{
    height: 260px;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.kategoris {
    position: relative;
    width: 100%;
    max-width: 960px;
    min-height: 100%;
    margin: 0px auto;
    padding: 20px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.element-card {
    position: relative;
    width: 150px;
    height: 180px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
            transform: rotatey(0deg) translatex(0px) translatey(0px);
    -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.08);
    margin: 10px;
    cursor: pointer;
}

.element-card.open {
width: 200px;
height: 260px;
-webkit-transform: rotatey(-180deg) translatex(0px) translatey(0px);
        transform: rotatey(-180deg) translatex(0px) translatey(0px);
}
.element-card .front-facing {
-webkit-transform: rotateY(0deg) translateZ(2px);
        transform: rotateY(0deg) translateZ(2px);
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
/* background-color: #ecf0f1; */
border: 2px white solid;
border-radius: 5px;
}
.element-card .front-facing .abr {
width: 100%;
position: absolute;
top: 50%;
left: 0;
font-size: 42px;
margin: -35px 0 0 0;
text-align: center;
color: #3498db;
}

.element-card .front-facing .title {
width: 100%;
position: absolute;
top: 68%;
left: 0;
text-transform: capitalize;
font-size: 17px;
margin: 20px 0 0 0;
text-align: center;
font-weight: bold;
}
.element-card .front-facing .atomic-number {
position: absolute;
top: 10px;
left: 10px;
font-size: 12px;
color: #2980b9;
}
.element-card .front-facing .atomic-mass {
position: absolute;
bottom: 10px;
right: 10px;
font-size: 12px;
color: #2980b9;
}
.element-card .back-facing {
-webkit-transform: rotateY(180deg) translateZ(0px);
        transform: rotateY(180deg) translateZ(0px);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: #ecf0f1;
border: 2px white solid;
border-radius: 5px;
padding: 20px;
text-align: center;
overflow: hidden;
}
.element-card .back-facing p {
font-size: 14px;
margin: 0;
}
.element-card .back-facing a.btn {
display: inline-block;
background-color: white;
padding: 5px 15px;
margin: 20px 0 0 0;
color: #eee;
background-color: #3498db;
text-decoration: none;
border-radius: 3px;
}
.element-card .back-facing a.btn:hover, .element-card .back-facing a.btn:focus {
color: #fff;
background-color: #2980b9;
}

.carousel .item-price span {
    color: #0078C2;
    font-size: 110%;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
    border: none;
}

.product-item img{
    height: 200px;
}

.dropdown .notifikasi {
    font-size: 20px;
}

.card-icon {
    size: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    
    .sidenav a:hover {
    color: #f1f1f1;
    }
    
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    
    #main {
    transition: margin-left .5s;
    padding: 16px;
    }
    
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

    @media (max-width: 1200px) {
    /* .sidebar {
        display: none; 
    } */
    
    .main-content {
        margin-left: 0; 
    }
}

@keyframes blink {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.blink-icon {
    animation: blink 1s infinite;
}

@media (max-width: 1210.98px) {
    

    .product-image img{
        height: 240px;
    }

}

@media (max-width: 1109.98px) {
    

    .product-image img{
        height: 200px;
    }
}

@media (max-width: 1000.98px) {

    .product-image img{
        height: 260px;
    }

}

@media (max-width: 820.98px) {
    .carousel img{
        height: 380px;
    }

}

@media (max-width: 767.98px) {
    .start .logo {
        align-items: center;
        margin-left: 290px;
    }

    .start .login {
        align-items: center;
        margin-right: 240px;
    }

    .carousel img{
        height: 400px;
    }
}

@media (max-width: 737.98px) {
    .start .logo {
        align-items: center;
        margin-left: 290px;
    }

    .start .login {
        align-items: center;
        margin-right: 240px;
    }

    .carousel img{
        height: 300px;
    }
}

@media (max-width: 701.98px) {
    .start .logo {
        align-items: center;
        margin-left: 240px;
    }

    .start .login {
        align-items: center;
        margin-right: 240px;
    }

    .carousel img{
        height: 250px;
    }
}
@media (max-width: 650.98px) {
    .start .logo {
        align-items: center;
        margin-left: 220px;
    }

    .start .login {
        align-items: center;
        margin-right: 150px;
    }

    .carousel img{
        height: 200px;
    }
}
@media (max-width: 600.98px) {
    .start .logo {
        align-items: center;
        margin-left: 200px;
    }

    .start .login {
        align-items: center;
        margin-right: 170px;
    }

    .carousel img{
        height: 200px;
    }
}
@media (max-width: 575.98px) {
    .start .logo {
        align-items: center;
        margin-left: 200px;
    }

    .start .login {
        align-items: center;
        margin-right: 100px;
    }

    .kategori .cat-item{
        width: 280px;
        align-items: center;
    }


    .product-item img{
        height: 400px;
    }

    .product-image img{
        height: 400px;
    }

    .carousel img{
        height: 200px;
    }

    .dashboard h1 {
        font-size: 35px;
        text-align: left;
        margin-left: 40px;
    }
}
@media (max-width: 518.98px) {
    .start .logo {
        align-items: center;
        margin-left: 170px;
    }

    .start .login {
        align-items: center;
        margin-right: 120px;
    }

    .carousel img{
        height: 200px;
    }

    
}

@media (max-width: 457px) {
    .dashboard h1 {
        font-size: 33px;
        padding-bottom: 8px;
        text-align: left;
        margin-left: 40px;
    }
}

@media (max-width: 457px) {
    .kategori h1 {
        font-size: 28px;
    }
    
    .dashboard h1 {
        font-size: 25px;
        padding-bottom: 11px;
        text-align: left;
        margin-left: 40px;
    }
    
    .carousel img{
        height: 160px;
    }

    .element-card {
        position: relative;
        width: 140px;
        height: 180px;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
                transform: rotatey(0deg) translatex(0px) translatey(0px);
        -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.08);
        margin: 10px;
        cursor: pointer;
    }
}

